{
    http_port 8080
    https_port 8443
}

https://localhost:8443 {
	encode zstd gzip

	@api path /api/*

	handle_path /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:8000
	}

	handle {
		reverse_proxy localhost:8082
	}
}
